@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

.root, #root, #docs-root {
  --main-color: #77DD77;
  --secondary-color: #ADAD89;
  --tertiary-color: #68EDCB;
}

@font-face {
  font-family: 'OSA';
  src: url('/fonts/Old\ School\ Adventures-847a.woff');
}